@use "./base.scss";

.page-title a {
  font-family: "Zalando Sans Expanded", sans-serif !important;
}

.explorer .explorer-content a { color: #d4d4d4 !important; }
.explorer .explorer-content a[href*="Semester"] { color: #60a5fa !important; }
.explorer .explorer-content a[href*="Thermodynamics"] { color: #2EEA6F !important; }
.explorer .explorer-content a[href*="DEVC"] { color: #2EC4EA !important; }
.explorer .explorer-content a[href*="BEEE"] { color: #DEDBFF !important; }
.explorer .explorer-content a[href*="Chemistry"] { color: #EA2E8F !important; }
.explorer .explorer-content a[href*="GAT"] { color: #EA2E8F !important; }
.explorer .explorer-content a[href*="Economics"] { color: #83CC5E !important; }
.explorer .explorer-content a[href*="Environmental"] { color: #EAD92E !important; }
.explorer .explorer-content a[href*="PPSUC"] { color: #EAD92E !important; }
.explorer .explorer-content a[href*="IOT"] { color: #2EEAA6 !important; }
.explorer .explorer-content a[href*="LAB"] { color: #2EC4EA !important; }
.explorer .explorer-content a[href*="English"] { color: #ddd6fe !important; }
.explorer .explorer-content a[href*="Archive"] { color: #17B800 !important; }
.explorer .explorer-content a[href*="University"] { color: #4A90E2 !important; }
.explorer .explorer-content a[href*="Other"] { color: #786E6E !important; }

article a {
  color: #e07b39 !important;
}


.section a[href*="Exam-Prep"],
.section a[href*="Exam%20Prep"],
.section a[href*="Exam-prep"],
.section a[href*="Exam%20prep"] {
  background: linear-gradient(
    90deg,
    #00c2ff,
    #33ff8c,
    #ffc640,
    #e54cff,
    #00c2ff,
    #33ff8c
  );
  background-size: 400% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: auroraText 8s linear infinite;
  font-weight: 700;
}

@keyframes auroraText {
  0%   { background-position: 0% center; }
  100% { background-position: 400% center; }
}

@keyframes aurora-spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes shine {
  0% { background-position: 0% center; }
  100% { background-position: 400% center; }
}


@keyframes shine {
  0% { background-position: 0% center; }
  100% { background-position: 300% center; }
}
